    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Open Sans';
        /* font-family: 'Manrope', sans-serif; */
        overflow-x: hidden;
    }
    
    .body-container-wrapper {
        width: 1400px;
        margin: 0 auto;
    }
    /* ------------------hero-section -------------------*/
    
    .hero-section {
        background: #0A2640;
        max-width: 100%;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
    
    .clearfix {
        clear: both;
    }
    
    .corner-shade {
        width: 163%;
        height: 180%;
        background: #1C3D5B;
        border-radius: 50%;
        position: absolute;
        left: 59%;
        top: -100%;
        z-index: -1;
        overflow: hidden;
        /* width: 1293px;
        height: 1293px;
        background: #1C3D5B;
        border-radius: 50%;
        position: absolute;
        left: 57%;
        top: -123%;
        z-index: -1;
        overflow: hidden; */
    }
    
    .hero-section-content-container {
        width: 1200px;
        margin: 0 auto;
        padding-top: 100px;
    }
    
    .hero-section-content-one {
        float: left;
        width: 567px;
        padding-bottom: 56px;
    }
    
    .hero-section-content-two {
        float: right;
        /* width: 493.86px; */
        padding-bottom: 56px;
    }
    
    .hero-section-content-one p {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
        color: #F1F1F1;
    }
    
    .hero-section-content-one li {
        padding: 40px 10px 0 0;
        display: inline-block;
        list-style-type: none;
    }
    
    .hero-section-content-one h3 {
        font-family: 'Manrope', sans-serif;
        font-size: 48px;
        font-weight: 400;
        line-height: 72px;
        color: #FFFFFF;
        padding: 56.5px 0 16px;
    }
    
    .logo-slide {
        margin: 0 auto 64px;
    }
    
    @media only screen and (max-width: 1310px) {
        .body-container-wrapper {
            width: 100%;
            margin: 0 auto;
            overflow-x: hidden;
        }
        .hero-section {
            max-width: 100%;
        }
        .hero-section-content-container {
            max-width: max-content;
            margin: 0 auto;
            padding: 100px 0 0;
        }
        .hero-section-content-one,
        .hero-section-content-two {
            margin: 0;
            float: left;
            /* width: 40%; */
        }
    }
    
    @media only screen and (min-width: 501px) and (max-width: 1070px) {
        .body-container-wrapper,
        .hero-section,
        .hero-section-content-one,
        .hero-section-content-two {
            width: 100%;
            margin: 0 auto;
            overflow-x: hidden;
        }
        .hero-section-content-container {
            width: 80%;
            margin: 0 auto;
            padding: 100px 0 0;
        }
        .hero-section-content-one ul li {
            padding-bottom: 15px;
        }
    }
    
    @media only screen and (max-width: 565px) {
        .hero-section-content-one,
        .hero-section-content-two {
            float: none;
            max-width: 95%;
            margin: 0 auto;
        }
        .hero-section,
        .hero-section-content-container {
            width: 100%;
        }
        .hero-section-content-one ul li {
            display: block;
            margin: 0 auto;
            max-width: max-content;
        }
    }
    /* ------------buttons-------------- */
    
    .btn-green {
        display: inline-block;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        border-radius: 56px;
        border: 2px solid #69E6A6;
        padding: 16px 56px 16px 56px;
        background: #65E4A3;
        color: #0A2640;
        text-decoration: none;
    }
    
    .btn-white {
        display: inline-block;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        border-radius: 56px;
        border: 2px solid #FFFFFF;
        padding: 16px 56px 16px 56px;
        background: transparent;
        color: #FFFFFF;
        text-decoration: none;
    }
    
    .btn-green:hover {
        background: #FFFFFF;
        border: 2px solid #FFFFFF;
        transition: all 2s ease;
    }
    
    .btn-white:hover {
        background: #65E4A3;
        border: 2px solid #65E4A3;
        transition: all 2s ease;
    }
    /* <!-----------------services-sec---------------> */
    
    .services-sec {
        /* width: 100%; */
        margin: 82px auto 0;
    }
    
    .our-services {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        color: #777777;
        padding-bottom: 12px;
    }
    
    .services-sec h3 {
        font-family: 'Manrope', ;
        text-align: center;
        color: #000000;
        max-width: 842px;
        font-size: 48px;
        font-weight: 400;
        line-height: 72px;
        margin: 0 auto;
    }
    
    .services-sec-column-wrapper {
        margin: 0 auto;
        max-width: 1200px;
    }
    
    .services-sec-column {
        width: calc(33.33% - 100px);
        float: left;
        margin: 80px 50px 0;
    }
    
    .services-caption {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #000000;
        padding-bottom: 12px;
    }
    
    .services-text {
        font-size: 20px;
        line-height: 32px;
        color: #777777;
        padding-bottom: 28px;
    }
    
    .explore {
        font-weight: 700;
        font-size: 20px;
        line-height: 36px;
        display: block;
        border-bottom: 1px solid #0A2640;
        max-width: max-content;
    }
    
    .arrow-right {
        vertical-align: middle;
        padding-left: 12px;
    }
    
    .serv-img {
        padding-bottom: 12px;
        display: block;
        width: 100%;
        height: auto;
    }
    
    @media only screen and (max-width:991px) {
        .body-container-wrapper {
            width: 100%;
            margin: 0 auto;
        }
        .services-sec-column-wrapper {
            margin: 0 auto;
            max-width: 90%;
        }
        .services-sec-column {
            width: calc(50% - 50px);
            float: left;
            margin: 80px 25px 0;
        }
    }
    
    @media only screen and (max-width:750px) {
        .body-container-wrapper {
            width: 100%;
            margin: 0 auto;
        }
        .services-sec-column-wrapper {
            margin: 0 auto;
            max-width: 90%;
        }
        .services-sec-column {
            width: calc(50% - 50px);
            float: left;
            margin: 80px 25px 0;
        }
    }
    
    @media only screen and (max-width:660px) {
        .body-container-wrapper {
            width: auto;
            margin: 0 auto;
        }
        .services-sec-column-wrapper {
            margin: 0 auto;
            max-width: 90%;
        }
        .services-sec-column {
            width: calc(90%);
            float: left;
            margin: 80px auto 0;
        }
    }
    /* ---------------hero-sec---------- */
    
    .customer-contact {
        max-width: max-content;
        margin: 197px auto 0;
    }
    
    .customer-contact-col-one {
        float: left;
    }
    
    .customer-contact-col-two h3 {
        font-family: 'Manrope', sans-serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 56px;
        padding-bottom: 40px;
    }
    
    .customer-contact-col-two {
        float: left;
        padding-top: 66px;
        padding-left: 150px;
        max-width: 600px;
    }
    
    .customer-text {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        padding-bottom: 24px;
        color: black;
        display: block;
    }
    
    li,
    a {
        text-decoration: none;
        list-style-type: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        padding-bottom: 24px;
    }
    
    .customer-img {
        width: 100%;
        display: block;
    }
    
    .customer-img-2 {
        display: block;
        max-width: 100%;
        margin: -63% 3% auto auto;
    }
    
    .tick {
        vertical-align: middle;
        padding-right: 27px;
    }
    
    .btn-blue {
        display: inline-block;
        margin-top: 32px;
        width: 210px;
        border-radius: 56px;
        padding: 16px 56px 16px 56px;
        border: 2px solid #0A2640;
        text-decoration: none;
        color: white;
        background: #0A2640;
        font-size: 20px;
        font-weight: 700;
    }
    
    .btn-blue:hover {
        border: 2px solid #0A2640;
        background: white;
        transition: all 2s ease;
        color: #0A2640;
    }
    
    @media only screen and (max-width: 1100px) {
        .customer-contact {
            width: 80%;
            margin: 197px auto 0;
        }
        .customer-contact-col-one {
            width: 80%;
            float: none;
            margin: 0 auto;
        }
        .customer-contact-col-two {
            width: 100%;
            float: none;
            margin: 0 auto;
            padding-left: 0;
        }
    }
    
    @media only screen and (max-width: 600px) {
        .customer-contact {
            width: 100%;
            margin: 197px auto 0;
        }
        .customer-contact-col-one,
        .customer-contact-col-two {
            width: 97%;
            float: none;
            margin: 0 auto;
        }
    }
    /*---------customer-services-------------*/
    
    .customer-services {
        max-width: 1100px;
        margin: 120px auto 0;
        padding-bottom: 100px;
    }
    
    .customer-services h3 {
        font-family: 'Manrope';
        font-weight: 400;
        font-size: 36px;
        line-height: 56px;
        padding: 106px 0 64px;
    }
    
    .customer-services-column-one {
        float: left;
        max-width: 500px;
        padding-bottom: 50px;
        margin-right: 156px;
    }
    
    .customer-services-column-two {
        float: left;
        max-width: 444px;
        /* height: 523px; */
    }
    
    .customer-active {
        max-width: 500px;
        border-radius: 4px;
        box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
        background: #0A2640;
        display: block;
        font-weight: 600;
        padding: 18px 0;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 28px;
        display: block;
    }
    
    .customer-serv-text {
        max-width: 500px;
        border-radius: 4px;
        box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
        background: #FFFFFF;
        display: block;
        font-weight: 600;
        padding: 18px 0;
        font-size: 16px;
        color: #0A2640;
        line-height: 28px;
        display: block;
    }
    
    .customer-serv-text:hover {
        background: #0A2640;
        color: #FFFFFF;
        transition: all 2s ease;
    }
    
    .customer-active:hover {
        background: #ffff;
        color: #0A2640;
        transition: all 2s ease;
    }
    
    .icons {
        vertical-align: middle;
        padding-right: 16px;
    }
    
    .services-img {
        width: 100%;
        display: block;
        height: 523px;
    }
    
    .services-img-2 {
        display: block;
        max-width: 100%;
        margin: -63% 0 auto auto;
    }
    
    li,
    a {
        list-style-type: none;
        text-decoration: none;
    }
    
    @media only screen and (max-width: 1110px) {
        .customer-services {
            width: 98%;
            margin: 197px auto 0;
        }
        .customer-services-column-one,
        .customer-services-column-two {
            width: 98%;
            float: none;
            margin: 0 auto;
        }
        .customer-services h3 {
            padding-top: 0;
        }
    }
    
    @media only screen and (max-width: 500px) {
        .customer-services {
            width: auto;
            margin: 197px auto 0;
        }
        .customer-services-column-one,
        .customer-services-column-one {
            width: 95%;
            float: none;
            margin: 0 auto;
        }
        .customer-services h3 {
            padding: 0;
        }
    }
    /* ----------------testimonials-wrapper---------------- */
    
    .testimonials-wrapper {
        max-width: 1400px;
        background: #0A2640;
        margin: 120px auto 0;
    }
    
    .h3 h3 {
        padding: 0 0 0 0;
        font-family: 'Manrope';
        font-weight: 400;
        font-size: 48px;
        line-height: 72px;
        color: #FFFFFF;
        text-align: left;
    }
    
    .h3 {
        float: left;
        max-width: 810px;
    }
    
    .testimonials-col-wrapper {
        margin: 96px auto;
        max-width: 1050px;
        padding: 96px 0;
    }
    
    .test-col {
        float: left;
        width: calc(33.3% - 22px);
        margin: 72px 11px 0;
        padding: 40px;
        background: #FFFFFF;
        box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.12);
        border-radius: 12px;
    }
    
    .arrows {
        float: right;
        margin-top: -70px;
    }
    
    .test-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        padding-bottom: 40px;
        color: #000000;
    }
    
    .pf-img {
        vertical-align: middle;
        margin-right: 16px;
        height: 58px;
        width: 58px;
        float: left;
    }
    
    .author {
        float: left;
    }
    
    .author-name {
        font-weight: 700;
        font-size: 16px;
        color: #0A2640;
        display: block;
        line-height: 32px;
    }
    
    .author-desg {
        font-weight: 400;
        font-size: 14px;
        color: #0a264083;
        display: block;
    }
    
    @media only screen and (max-width: 1050px) {
        .testimonials-wrapper {
            width: 90%;
            margin: 120px auto 0;
        }
        .testimonials-col-wrapper {
            max-width: 100%;
            margin: 0 auto;
        }
        .test-col {
            width: 47%;
        }
        .arrows {
            float: none;
            margin-top: 40px;
        }
    }
    
    @media only screen and (max-width: 815px) {
        .testimonials-wrapper {
            width: 100%;
        }
        .testimonials-col-wrapper {
            width: 100%;
            margin: 0 auto;
        }
        .test-col {
            float: none;
            width: 50%;
        }
    }
    
    @media only screen and (max-width:690px) {
        .testimonials-wrapper {
            width: auto;
        }
        .testimonials-col-wrapper {
            width: 80%;
            margin: 0 auto;
        }
        .test-col {
            float: none;
            width: 96%;
            margin: 72px auto 0;
        }
    }
    /* ----------------customer-links---------------- */
    
    .customer-links {
        width: 1100px;
        margin: 124px auto 0;
    }
    
    .image-box {
        max-width: 100%;
    }
    
    .rec-img {
        width: 100%;
        display: block;
    }
    
    h3 {
        max-width: 100%;
        font-family: 'Manrope';
        font-weight: 400;
        font-size: 36px;
        line-height: 56px;
    }
    
    .links-text {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #000000;
        border-bottom: 1px solid #C4C4C4;
        padding-bottom: 16px;
        margin-bottom: 32px;
        max-width: 100%;
        text-align: left;
    }
    
    .customer-links-col-one {
        width: 500px;
        float: left;
        font-weight: 400;
        margin: 56px 100px 0 0;
    }
    
    .customer-links-col-two {
        float: left;
        margin-top: 56px;
        font-weight: 400;
        width: 500px;
    }
    
    .down-arrow {
        float: right;
    }
    
    @media only screen and (max-width: 1130px) {
        .customer-links {
            width: 97%;
            margin: 124px auto 0;
        }
        .customer-links-col-one,
        .customer-links-col-two {
            width: 58%;
            margin: 56px auto 0;
            float: none;
        }
    }
    
    @media only screen and (max-width: 807px) {
        .customer-links {
            width: 97%;
            margin: 124px auto 0;
        }
        .customer-links-col-one,
        .customer-links-col-two {
            width: 85%;
            margin: 56px auto 0;
            float: none;
        }
    }
    
    @media only screen and (max-width: 600px) {
        .customer-links {
            width: 97%;
            margin: 124px auto 0;
        }
        .customer-links-col-one,
        .customer-links-col-two {
            width: 98%;
            margin: 56px auto 0;
            float: none;
        }
        .down-arrow {
            padding-left: 20px;
        }
    }
    /* ----------------blog-wrapper---------------- */
    
    .blog-sec {
        /* width: 100%; */
        margin: 156px auto 0;
    }
    
    .our-blog {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        color: #777777;
        padding-bottom: 12px;
    }
    
    .blog-sec h3 {
        font-family: 'Manrope', ;
        text-align: center;
        color: #000000;
        max-width: 842px;
        font-size: 48px;
        font-weight: 400;
        line-height: 72px;
        margin: 0 auto;
    }
    
    .blog-sec-column-wrapper {
        margin: 0 auto;
        max-width: 1050px;
    }
    
    .blog-sec-column {
        width: calc(33.33% - 50px);
        float: left;
        margin: 77px 25px 0;
        /* min-height: min-content; */
    }
    
    .serv-img {
        padding-bottom: 24px;
        display: block;
        width: 100%;
    }
    
    .blog-caption {
        font-weight: bolder;
        font-size: 16px;
        line-height: 28px;
        color: #0A2640;
        padding-bottom: 12px;
    }
    
    span {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #777777;
        margin-left: 12px;
    }
    
    .blog-text {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #000000;
        min-height: 100px;
        margin-bottom: 20px;
    }
    
    .avatar-img {
        vertical-align: middle;
        margin-right: 12px;
    }
    
    .writer {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #000000;
        display: block;
    }
    
    @media only screen and (max-width:1035px) {
        .body-container-wrapper {
            width: 100%;
            margin: 0 auto;
        }
        .blog-sec-column-wrapper {
            margin: 0 auto;
            max-width: 90%;
        }
        .blog-sec-column {
            width: calc(50% - 50px);
            float: left;
            margin: 80px 25px 0;
        }
    }
    
    @media only screen and (max-width:750px) {
        .blog-sec-column-wrapper {
            margin: 0 auto;
            max-width: 90%;
        }
        .blog-sec-column {
            width: 90%;
            float: none;
            margin: 80px auto 0;
        }
    }
    /* ------------------------form--------------------- */
    
    .submit {
        max-width: 1200px;
        border-radius: 12px;
        background: #0A2640;
        border-radius: 12px;
        position: relative;
        margin: 124px auto 0;
        z-index: 1;
    }
    
    .corner-shade-last {
        width: 111%;
        height: 182%;
        background: #1C3D5B;
        border-radius: 50%;
        position: absolute;
        left: 42%;
        top: -122%;
        z-index: -1;
        overflow: hidden;
    }
    
    .submit h3 {
        font-family: 'Manrope';
        font-weight: 400;
        font-size: 48px;
        line-height: 72px;
        text-align: center;
        color: #FFFFFF;
        width: 716px;
        margin: 0 auto;
        display: block;
        padding-top: 72px;
    }
    
    .form-corner-shade {
        float: right;
    }
    
    .form-column-wrapper {
        max-width: max-content;
        margin: 0 auto 74px;
    }
    
    .form-col-email {
        margin: 50px 24px 0 0;
        float: left;
        width: 370px;
    }
    
    .form-col-btn {
        float: left;
        width: 210px;
        margin-top: 50px;
    }
    
    @media only screen and (max-width: 991px) {
        .submit {
            width: auto;
            margin: 80px auto 0;
        }
        .form-column-wrapper {
            width: 95%;
            margin: 0 auto 74px;
        }
    }
    
    @media only screen and (max-width: 645px) {
        .form-col-email,
        .form-col-btn {
            float: none;
            width: 98%;
            margin: 50px 0 74px;
        }
        .submit {
            width: auto;
            margin: 80px auto 0;
        }
    }
    /* -----------------------------footer--------------------------- */
    
    footer {
        max-width: 1400px;
        margin: 84px auto 0;
    }
    
    .about {
        max-width: 300px;
        margin: 100px 179px 0 100px;
        float: left;
    }
    
    .links {
        width: 642px;
        float: left;
        margin-top: 100px;
    }
    
    .link-1,
    .link-2 {
        float: left;
        margin-right: 96px;
    }
    
    .link-3 {
        float: left;
    }
    
    .links li,
    .links a {
        list-style-type: none;
        text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #777777;
    }
    
    .bag h6,
    .bag {
        text-decoration: none;
        border-radius: 120px;
        padding: 0 4px 1px 0;
        background: #65E4A3;
        color: #0A2640;
        display: inline;
        margin-left: 10px;
        float: right;
    }
    
    @media only screen and (max-width: 1225px) {
        .about {
            width: 28%;
            margin: 100px 50px 0 100px;
            float: left;
        }
        .links {
            width: max-content;
            float: left;
            margin: 100px 0 0 100px;
        }
        footer {
            width: 98%;
            margin: 84px auto 0;
        }
    }
    
    @media only screen and (max-width: 690px) {
        .about,
        .links,
        .link-1,
        .link-2,
        .link-3 {
            width: max-content;
            margin: 50px 0 0;
            float: none;
            padding-left: 20px;
        }
        footer {
            width: auto;
            margin: 80px auto 0;
        }
    }
